/* South Africa theme */

@font-face {
    font-family: Tanker;
    src:
        url("/fonts/Tanker-Regular.woff2") format("woff2"),
        url("/fonts/Tanker-Regular.woff") format("woff"),
        url("/fonts/Tanker-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

:root {
    --light: oklch(95.1% 0.0522 79.54);
    --dark: oklch(18% 0.03 79.54);
    --green: oklch(57.06% 0.163 157.95);
    --yellow: rgb(255 184 29);

    --accent: oklch(68.4% 0.201 28.59);
    --muted: color-mix(in oklab, var(--light), black 40%);

    --bg-color: var(--light);
    --body-color: white;
    --text-color: var(--dark);

    --font-title: Tanker, Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow",
        sans-serif-condensed, sans-serif;

    /* @link https://utopia.fyi/clamp/calculator/?a=320,760,36—72 */
    --fluid-title: clamp(2.25rem, 0.6136rem + 8.1818vw, 4.5rem);
    /* @link https://utopia.fyi/clamp/calculator?a=390,647,18—24 */
    --fluid-subtitle: clamp(1.125rem, 0.9432rem + 0.9091vw, 1.375rem);
    --fluid-article-title: clamp(1.5rem, 0.3182rem + 5.9091vw, 3.125rem);

    --step--2: clamp(0.6331rem, 0.7157rem + -0.1065vw, 0.6944rem);
    --step--1: clamp(0.8331rem, 0.8294rem + 0.0185vw, 0.8438rem);
    --step-0: clamp(1rem, 0.9565rem + 0.4174vw, 1.25rem);
    --step-1: clamp(1.2rem, 1.0959rem + 0.5207vw, 1.4994rem);
    --step-2: clamp(1.44rem, 1.2457rem + 0.9717vw, 1.9988rem);
    --step-3: clamp(1.7281rem, 1.4025rem + 1.6283vw, 2.6644rem);
    --step-4: clamp(2.0738rem, 1.5596rem + 2.5707vw, 3.5519rem);
    --step-5: clamp(2.4881rem, 1.7066rem + 3.9076vw, 4.735rem);
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body {
    background-color: var(--body-color);
}

:where(h1, h2) {
    font-family: var(--font-title);
    font-weight: 400;

    a:not(:hover) {
        text-decoration: none;
    }
}

h1 {
    font-size: var(--step-4);
}

h2 {
    font-size: var(--step-3);
}

h3 {
    font-size: var(--step-2);
    font-weight: 620;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--dark);
        --body-color: revert-layer;
        --text-color: var(--light);
        --muted: color-mix(in oklab, var(--light), var(--bg-color) 20%);
        --green: oklch(85.59% 0.183 157.95);
        --yellow: oklch(76.41% 0.1795 84.93);
    }

    body {
        background-color: var(--body-color);
    }

    .HomeHeader h1 {
        color: white;
    }

    a:not([aria-current="page"] a):hover {
        color: white;
    }
}

:where(.MainNav, .HomeHeader) {
    text-align: center;
}

.MainNav ul {
    justify-content: center;
}

.HomeHeader {
    h1 {
        margin-block-end: 0;
        font-size: var(--step-5);
        font-weight: 580;
        letter-spacing: -0.01em;

        span {
            --shift-down: 0.05em;
            --shift-up: -0.05em;

            &:nth-child(2) {
                transform: translateY(var(--shift-down));
                display: inline-block;
            }

            &:nth-child(5) {
                transform: translateY(var(--shift-down));
                display: inline-block;
            }

            &:nth-child(8) {
                transform: translateY(var(--shift-up));
                display: inline-block;
            }

            &:nth-child(16) {
                transform: translateY(var(--shift-up));
                display: inline-block;
            }

            &:nth-child(18) {
                transform: translateY(var(--shift-up));
                display: inline-block;
            }
        }
    }

    .HomeHeader__SubTitle {
        font-family: var(--sans-rounded);
        text-transform: uppercase;
        color: var(--green);
        letter-spacing: 0.05em;
        margin-block-end: 1rlh;
        font-size: var(--fluid-subtitle);
        font-weight: 550;
        text-shadow: color-mix(in oklab, var(--green), transparent 60%) 0 0 15px;
    }

    .HomeHeader__CurrentTrip {
        --arrow-inset: 0.75em;
        padding: 0.25rlh calc(var(--arrow-inset) + 1em);
        background-color: var(--yellow);
        width: min-content;
        white-space: nowrap;
        margin-inline: auto;
        font-weight: 490;
        color: var(--text-color);

        @media (prefers-color-scheme: dark) {
            background-color: oklch(from var(--dark) calc(l + 0.2) calc(c + 0.1) h);
        }

        /* prettier-ignore */
        clip-path: polygon(
            0% 0%,
            calc(100% - var(--arrow-inset)) 0%, 100% 50%, calc(100% - var(--arrow-inset)) 100%,
            0% 100%, var(--arrow-inset) 50%
        );

        a {
            font-weight: 700;

            &:hover {
                color: inherit;
            }
        }

        time[title] {
            text-decoration-color: color-mix(in oklab, var(--bg-color), transparent 50%);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .Post header > div a:hover {
        color: var(--light);
    }
}

.Post:not(.single) header {
    h1 {
        font-family: var(--sans-rounded);
        font-weight: 750;
        font-size: var(--step-1);
        font-variation-settings: "opsz" 30;
    }

    > div {
        font-size: var(--step--1);
    }
}

.Post.single {
    header {
        margin-block-end: 2rlh;

        h1 {
            font-size: var(--step-5);
        }
    }

    :where(header h1, header div, .prose h1, .prose h2) {
        --angle: -3deg;
        transform: rotate(var(--angle)) skew(var(--angle));
    }

    :where(.prose h1, .prose h2) {
        margin-block-end: 2rlh;
    }
}

.Notice {
    padding: 1rlh;
    border: 1px solid var(--yellow);
    background-color: color-mix(in oklab, var(--yellow), transparent 95%);
    border-left-width: 0.5em;
    color: color-mix(in oklab, var(--yellow), white 60%);
    border-radius: 4px;
    margin-block-end: 1rlh;
    text-wrap: pretty;
    font-weight: 520;
    font-family: var(--sans-rounded);
}
