<ol class="ArchiveList h-feed">
    {{ for post of posts }}
    <li class="h-entry">
        <a class="u-url" href="{{ post.url }}">{{ post.title }}</a>
        <time class="dt-published" datetime="{{ post.date |> date("ATOM") }}" pubdate>{{ post.date |> date("HUMAN_DATE")}}</time>
    </li>
    {{ /for }}
</ol>
