<ol class="ArchiveList">
    {{ for trip of results }}
    <li>
        <a href="{{ trip.title |> to_slug }}">{{ trip.title }}</a>
        <span class="ArchiveList__Meta">{{ if current_trip.trip == trip.title }}★ {{ /if }}{{ trip.numPosts }} inlägg</span>
    </li>
    {{ /for }}
</ol>
