/* =ELEMENTS
--------------------------------------------- */

html {
    /* 1. Sets a11y values on iOS/iPad OS. This also sets dynamic font size from the OS settings. */
    font: -apple-system-body;
    /* 2. Customise for my own line height and font. */
    line-height: var(--leading);
    font-family: var(--sans);

    /* 3. Larger on larger screens. */
    @media only screen and (min-width: 600px) {
        font-size: 112.5%;
    }
}

body {
    font-variant-ligatures: contextual common-ligatures;

    @media (min-width: 750px) {
        hanging-punctuation: first;
    }
}

:where(code, kbd, pre) {
    font-family: var(--mono);
    font-size-adjust: cap-height 0.65;
}

input,
textarea {
    hanging-punctuation: none;
}

ul {
    list-style-type: "-   ";
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    [aria-current="page"] {
        :where(a, a:hover) {
            cursor: default;
            font-weight: 600;
            text-decoration: inherit;

            @supports (font-variation-settings: "GRAD" 600) {
                font-weight: normal;
                font-variation-settings: "GRAD" 600;
            }
        }
    }
}

article :not(header > *):not(nav > *):where(h1, h2, h3, h4, p, blockquote, hr, figure):not(:last-child) {
    margin-block-end: 1rlh;
}

[role="contentinfo"] {
    font-size: var(--f-small);
    text-align: center;
    font-variation-settings: "opsz" 21;
}

a {
    text-underline-offset: 3px;

    &:hover {
        text-decoration-style: wavy;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--accent);
    }
}

h1 {
    font-weight: 550;
    font-size: 2rem;
}

@media (hover: hover) {
    time[title] {
        cursor: help;
        text-decoration: underline;
        text-decoration-style: dotted;
        text-underline-offset: 0.3ex;
        text-decoration-thickness: 2px;
    }
}
