/* =ELEMENTS
--------------------------------------------- */

html {
    /* 1. Sets a11y values on iOS/iPad OS. This also sets dynamic font size from the OS settings. */
    font: -apple-system-body;
    /* 2. Customise for my own line height and font. */
    line-height: var(--leading);
    font-family: var(--sans);

    /* 3. Larger on larger screens. */
    @media only screen and (min-width: 800px) {
        font-size: 112.5%;
    }
}

body {
    color: var(--color-text);
    font-variant-ligatures: contextual common-ligatures;

    @media (min-width: 750px) {
        hanging-punctuation: first;
    }
}

:where(code, kbd, pre) {
    font-family: var(--mono);
}

input,
textarea {
    hanging-punctuation: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    [aria-current="page"] {
        :where(a, a:hover) {
            cursor: default;
            font-weight: 600;
            text-decoration: inherit;
        }
    }
}

article :not(header > *):where(h1, h2, h3, h4, p, blockquote, hr, figure):not(:last-child) {
    margin-block-end: 1rlh;
}

[role="contentinfo"] {
    font-size: var(--f-small);
    text-align: center;
    font-variation-settings: "opsz" 21;
}

a {
    text-underline-offset: 3px;

    &:hover {
        text-decoration-style: wavy;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--accent);
    }
}
