body {
    margin-inline: auto;
    padding-inline: 4%;
    padding-block: 0.5rlh;
    max-width: var(--content-width);
    
    display: grid;
    grid-template-rows: min-content 1fr min-content;

    @media only screen and (min-width: 706px) {
        padding-block: 2rlh 1rlh;
    }
}

article > header {
    margin-block-end: 0.5rlh;

    h1 {
        font-weight: 550;
        font-size: 2rem;
    }
}

nav {
    margin-block-end: 1rlh;

    > ul {
        display: flex;
        gap: 2em;
    }
}

[role="contentinfo"] {
    margin-block: 2rlh 1rlh;
}
