.split {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    > * {
        margin-block-end: 0;
    }

    &.split--center {
        align-items: center;
    }

    &.split--gap {
        gap: 1em;
    }
}

.muted {
    color: var(--muted);
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.spacing {
    margin-block-end: 1rlh;
}

.spacing--tight {
    margin-block-end: 0.5rlh;
}

.detail {
    font-size: var(--f-small);
}

.icon {
    fill: currentColor;
    width: 1em;
    height: auto;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
    display: inline-block;
    font-size: 0.9em;
}
