:root {
    /* TYPOGRAPHY */

    --leading: 1.6;
    --sans: system-ui, sans-serif;
    --serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    --mono: ui-monospace, monospace;
    --sans-rounded: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT",
        "Arial Rounded MT Bold", Calibri, source-sans-pro, sans-serif;

    --f-small: 0.85rem;

    /* LAYOUT */

    --content-width: 75ch;

    /* COLOURS */

    --muted: #555;
    --accent: oklch(77.6% 0.185 74.12);

    @media (prefers-color-scheme: dark) {
        --muted: #aaa;
    }
}
