:root {
    /* TYPOGRAPHY */

    --leading: 1.6;
    --sans: system-ui, sans-serif;
    --serif: ui-serif, "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
    --mono: ui-monospace, monospace;

    --f-small: 0.85rem;

    /* LAYOUT */

    --content-width: 65ch;

    /* COLOURS */

    --muted: #555;
    --accent: oklch(77.6% 0.185 74.12);

    @media (prefers-color-scheme: dark) {
        --muted: #aaa;
    }
}
