:root {
    /* TYPOGRAPHY */

    --leading: 1.6;
    --sans: system-ui, sans-serif;
    --serif: ui-serif, "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
    --mono: ui-monospace, monospace;

    --f-small: 0.85rem;

    /* LAYOUT */

    --content-width: 65ch;

    /* COLOURS */

    --gray: #555;
    --accent: oklch(77.6% 0.185 74.12);

    @media (prefers-color-scheme: dark) {
        --gray: #aaa;
    }
}

/* @link https://utopia.fyi/clamp/calculator?a=390,647,24—50|16—27 */

:root {
    --fluid-24-50: clamp(1.5rem, -0.966rem + 10.1167vi, 3.125rem);
    --fluid-16-27: clamp(1rem, -0.0433rem + 4.2802vi, 1.6875rem);
}
