---
layout: layouts/main.vto
---

<header class="split spacing">
    <h1>{{ title }}</h1>
    <p class="muted tr detail">{{ results.length }}{{ if pagination }} / {{ pagination.totalResults }}{{ /if }}</p>
</header>

{{ include template { results: results } }}

{{ if pagination?.totalPages > 1 }}
    {{ include "templates/page-nav.vto" { pagination: pagination } }}
{{ /if }}
