<!doctype html>
<html lang="{{ metas.lang }}">
    <head>
        <title>{{ title }} — {{ subtitle }}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="theme-color" content="rgb(2 119 73)" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="oklch(25% 0.03 79.54)" media="(prefers-color-scheme: dark)">

        <link href="/style.css" rel="stylesheet">

        <link rel="alternate" type="application/rss+xml" title="Brook City posts feed (Atom)" href="/feed.xml">
        <link rel="alternate" type="application/feed+json" title="Brook City posts feed (JSON)" href="/feed.json">
            
        <link rel="me" href="https://fed.brid.gy/r/{{ "/" |> url(true) }}"">
        <link rel="author" type="application/activity+json" href="https://fed.brid.gy/r/{{ "/" |> url(true) }}">
    </head>
    <body {{ if home }}class="h-card"{{ /if }}>
        {{ include "templates/nav.vto" }}
        <main>
            {{ content }}
        </main>
        
        <footer role="contentinfo">
            <a href="https://open.spotify.com/track/7G3lxTsMfSx4yarMkfgnTC" class="u-url">♫ The World Is Yours</a> —
            <a href="mailto:{{ email }}" class="u-email">{{ email }}</a> —
            <a href="{{ "/" |> url(true) }}" class="u-url u-uid" rel="canonical">Home</a> —
            <a href="https://github.com/johanbrook/theworldisyours">Source</a>
        </footer>
    </body>
</html>
